anthropic
chromadb
dsp
dspy
einops
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
ollama
openai
pandas
rank-bm25
sentence-transformers
transformers